
@{
    ViewBag.Title = "Thank You";
}
<div class="thank-you-CTA">
<div class="thank-you-one">Your submission has been received.</div>
<div class="thank-you-two">Thank you!</div>
<div class="thank-you-three"><a href="~/Views/Upload/Index.cshtml">Click here</a> to upload additional files</div>
<div>
    <input type="button" class="btn btn-default" value="LOG OUT" id="upload-submit" />
</div>
    </div>